{{>navBarLanding}}
<div class="jumbotron-default">
  <div class="dark-overlay landing-inner text-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="display-3 mb-4">Adaptive Learning Platform</h1>
          <p class="lead">Signup accordingly | Happy learning!</p>
          <hr />
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Login | Signup for Teachers</h3>
                  <p class="card-text lead">
                    If you are a Teacher then click below.
                  </p>
                  <a href="teacher/teacher-login-signup" class="btn btn-primary">Login | Signup teacher</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Login | Signup for Students</h3>
                  <p class="card-text lead">
                    If you are a Student then click below.
                  </p>
                  <a href="student/student-login-signup" class="btn btn-primary">Login | signup Student</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>