{{>navBarLanding}}
<div class="jumbotron-default">
  <div class="dark-overlay landing-inner text-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="display-3 mb-4">Adaptive Learning Platform</h1>
          <p class="lead">Signup accordingly | Happy learning!</p>
          <hr />
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Login | Signup for Teachers</h3>
                  <p class="card-text lead">
                    If you are a Teacher then click below.
                  </p>
                  <center>
                    <a id="googlelogin" href="/teacherLogin">
                      <div id="login">
                        <div>
                          <img src="../img/google.png" alt="Google Logo" style="width: 2rem" />
                          <span class="mr-3">Login | Signup with Google</span>
                        </div>
                      </div>
                    </a>
                  </center>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Login | Signup for Students</h3>
                  <p class="card-text lead">
                    If you are a Student then click below.
                  </p>
                  <center>
                    <a id="googlelogin" href="/studentLogin">
                      <div id="login">
                        <div>
                          <img src="../img/google.png" alt="Google Logo" style="width: 2rem" />
                          <span class="mr-3">Login | Signup with Google</span>
                        </div>
                      </div>
                    </a>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>