{{>navBarStudent}}
<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">Dashboard</h1>
        <p class="lead text-muted">Welcome Student</p>

        <div>
          <h4 class="mb-2">My Dummy Courses</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Front End Web Dev</td>
                <td>FWeb100</td>
                <td>

                  <a href="take-quiz" class="btn btn-primary">Take Quiz</a>
                </td>
              </tr>
              <tr>
                <td>Back End Web Dev</td>
                <td>BWeb101</td>
                <td>
                  <a href="take-quiz" class="btn btn-primary">Take Quiz</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr />
      </div>
    </div>
  </div>
</div>
{{>footer}}