{{>navBarStudent}}
<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">Dashboard</h1>
        <p class="lead text-muted">Welcome Yaha Student Id hoga</p>

        <div>
          <h4 class="mb-2">My Dummy Courses</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Actions</th>
                <th>Quiz Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each course}}
              <tr>
                <td>{{this.courseName}}</td>
                <td>{{this.courseID}}</td>

                <td>
                  <a href="takeQuiz?courseID={{this.courseID}}" class="btn btn-primary">Take Quiz</a>
                </td>
                <td>
                  {{#if this.quizActive}}
                  <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#editModal"
                    disabled>Active</button>
                  {{else}}
                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#editModal"
                    disabled>In
                    Active</button>
                  {{/if}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

        <hr />
      </div>
    </div>
  </div>
</div>
{{>footer}}