<h1>Student id: {{studentID}}</h1>
<form method="POST" action="/student/updateTeacherID">
    <input type="number" name='studentID' value={{studentID}}>
    <br>
    <input type="number" placeholder="Enter  teacher  id" name="teacherID">
    <button type="submit">Update details</button>
</form>